.Login{
    width: 40%;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 2rem;
    margin: 2rem auto;
}
.Login h1{
    text-align: center;
    padding: 10px;
}

.NewItem{
    display: flex; 
    padding: 7px;  

    
}
.search{
    display: flex;
    padding: 40px 357px; 
}
.ArticleItem{
    display: flex;
   

}
.NewArticle{
    display: flex;
}
.container{
  margin: 10px 10px;
  
    
}

.card{
    margin: 10px;
}
.w{
    font-size: 100%;
}